

<div class="content" role="main">
  <div class="center-container">
    <div class="card">
      <img class="card-svg" src="../assets/illustration-article.svg" />
      <div class="header">
        <button (click)="onButtonClick()">Learning</button>
        <p>Published 21 Dec 2023</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">HTML & CSS foundations</h5>
        <p class="card-text">
          These languages are the backbone of every website, defining structure, content, and presentation.
        </p>
      </div>
      <div class="footer">
        <img class="profile" src="../assets/image-avatar.webp">
        <p> Greg Hooper</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>